<h1>Crear Usuario</h1>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Get an account</h1>
            <hr>
            <form action="/crear" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Sith" id="flexRadioDefault1"
                        control-id="ControlID-17">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sith
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Jedi" id="flexRadioDefault2" checked=""
                        control-id="ControlID-18">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Jedi
                    </label>
                </div>

                {{!-- <div class="form-check">
                    <input class="form-check-input" type="radio" name="Sith" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1" >
                        Sith
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Jedi" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2" >
                        Jedi
                    </label>

                </div> --}}


                <button type="submit" class="btn btn-dark">Register</button>
            </form>
        </div>
    </div>
</div>