<h1>Crear Usuario</h1>
<hr>
<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Get an account</h1>
            <hr>
            <form action="/crear" method="POST">

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <select class="form-select" aria-label="Default select example">
                    <option selected>Select One</option>
                    <option value="1" name="Sith">Jedi</option>
                    <option value="2" name="Jedi">Sith</option>
                </select>

                <button type="submit" class="btn btn-dark mt-4">Register</button>
            </form>
        </div>
    </div>
</div>