<h1 id="listcharacter">Crear Comentario</h1>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <hr>

            <form action="/comentarios/crear/{{post_id}}" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="title" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                    <label for="comment" class="form-label">Comentario</label>
                    <input type="comment" class="form-control" id="comment" name="description">
                </div>

                <button type="submit" class="btn btn-dark">Upload comment</button>

            </form>

        </div>
    </div>
</div>