<h1 id="listcharacter">Crear Post</h1>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <hr>

            <form action="/post/crear" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Imagen</label>
                    <input type="file" class="form-control-file" id="imageUrl" name="imageUrl">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="title" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                    <label for="post" class="form-label">post</label>
                    <input type="post" class="form-control" id="post" name="post">
                </div>

                <button type="submit" class="btn btn-dark">Upload post</button>

            </form>

        </div>
    </div>
</div>