<div class="container d-flex flex-wrap justyfy-content-center gap-3">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">

                <div class="card-body">
                    <h5 class="card-title">{{post.owner.username}}</h5>
                    <p class="card-text"><small class="text-muted"></small>{{post.title}}</p>
                    <p class="card-text"><small class="text-muted"></small>{{post.post}}</p>

                </div>

            </div>
        </div>
    </div>
</div>