<h1 class="fw-bold text-center">Your Space for Star Wars🚀</h1>
<hr>
<p class=" text-center"> Welcome Ironhacker!</p>



<div class="d-grid gap-5 d-md-2 justify-content-md-center">
    {{!-- <button class="btn " type="button" href="crear">Crear Usuario</button> --}}
    <a href="/crear" class="btn btn-outline-secondary me-md-2" role="button" data-bs-toggle="button">Crear Usuario</a>
    <button class="btn btn-outline-success" type="button">Button</button>
</div>