<h1 id="listcharacter" class="fw-bold text-center">Your Space for Star Wars🚀</h1>
<hr>
<p id="index-p" class=" text-center"> Welcome Ironhacker!</p>

<video autoplay muted loop id="myVideo">
    <source src="/videos/Star_Wars.mp4" type="video/mp4">
</video>

{{#unless username}}

    <div class="d-grid gap-5 d-md-2 justify-content-md-center">

        <a href="/post/crear" class="btn btn-outline-secondary me-md-2" role="button" id="btn-prueba">Crear
            Usuario</a>
        <a href="/iniciar-sesion" class="btn btn-outline-success me-md-2" role="button" id="btn-prueba">Iniciar
            Sesion</a>
    </div>

{{/unless}}