<h1>Crear Post</h1>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <hr>
            <form action="/post/create" method="POST">
                <div class="mb-3">
                    <label for="owner" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="owner" name="owner" value='{{req.session.currentUser}}'>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="title" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="post" class="form-label">post</label>
                    <input type="post" class="form-control" id="post" name="post">
                </div>

                <button type="submit" class="btn btn-dark">Upload post</button>
            </form>
        </div>
    </div>
</div>