<h1>Post de Usuarios</h1>
<hr>
<p> texto texto texto</p>
<div class="container d-flex flex-wrap justyfy-content-center">


    <a href="post/create" class="btn btn-secondary" tabindex="-1" role="button">Crea un post</a>

</div>