<div class="container">
    <h1>All Characters</h1>
    <hr>

    {{#each users}}
        <p>
            <a href="/users/list/{{_id}}">{{username}}</a>

        <p></p>
        </p>
    {{/each}}

    <hr>
    <a href="/" class="btn btn-dark">Volver a incio</a>
</div>