<div class="container">
    <h1>Nosotr@s</h1>
    <hr>

    {{#each users}}
    <p>
        <a href="/users/list/{{_id}}">{{username}}</a>
    </p>
    {{/each}}

    <hr>
    <a href="/" class="btn btn-dark">Volver a incio</a>
</div>