<h1>Details</h1>
<div class="row justify-content-center d-flex"></div>
<div class="col-md-4 mb-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Bienvenido {{username}}</h3>
            {{!-- <p class="card-text text-capitalize"> Email: {{email}}</p> --}}
            <p class="card-text text-capitalize">{{type}}</p>
        </div>
    </div>
</div>
</div>