@import url(//db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi);

body {
  font: 14px, "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  font-family: "Star Jedi";
}

#myVideo {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}



#listcharacter {
  color: goldenrod;
  font-family: "Star Jedi";
}

#index-p {
  color: goldenrod;
  font-family: 'Franklin Gothic Medium';
}

#sithUser {
  width: 1550px;
  height: 690px;
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
}

#jediUser {
  width: 1550px;
  height: 690px;
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
}

#estrella {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#create {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  object-fit: cover;

}

.card-img-top {
  height: 65%
}

#character-card {
  height: 30rem;
}

.characters {
  background-image: url('./../images/stars-background.png');
}

#characters-letter {
  color: goldenrod
}


.card-body {
  background-color: grey;
  color: goldenrod;

}

#post-picture {
  height: 20rem
}

#character-detail-image {
  height: 100%;
  width: 100%;

}

#post-detail-card {
  object-fit: cover;
}

.card-body-2 {
  margin-left: 10px;
  padding: 20px
}

#comments {
  background-color: blue;
  color: goldenrod;
}