<h1 class="text-align-center">All characters</h1>
<hr>
<div class="container d-flex flex-wrap justyfy-content-center gap-3">

    {{#each characters}}

    <div class="card" style="width: 10rem;">
        <img src="{{image}}" class="card-img-top" alt="Character-picture">

        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{species}}</p>
            <a href="/characters/list/details/{{id}}" class="btn btn-warning" tabindex="-1" role="button">Detalles</a>
        </div>

    </div>
    {{/each}}

    <hr>
</div>

<a href="/" class="btn btn-dark">Volver a incio</a>