<div class="characters">
    <h1 class="text-align-center" id="characters-letter">All characters</h1>
    <hr>
    <div class="container d-flex flex-wrap justyfy-content-center gap-5 col-10">

        {{#each characters}}

        <div class="card" id="character-card" style="width: 15rem;">
            <img src="{{image}}" class="card-img-top" alt="Character-picture">

            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{species}}</p>
                <a href="/personajes/lista/detalles/{{id}}" class="btn btn-warning" id="btn-details" tabindex="-1"
                    role="button">Detalles</a>
            </div>

        </div>
        {{/each}}

        <hr>
    </div>

    <a href="/" class="btn btn-dark">Volver a incio</a>
</div>