<div class="container mt-5">
    <img src="/images/character-details.jpg" alt="character-details" id="character-details">
    <div class="row justify-content-center" id="edit-user">
        <div class="col-md-6">

            <h1 id="listcharacter">Editar {{user.username}}</h1>
            <form action="/usuarios/editar/{{user._id}}" method="POST">

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="username" class="form-control" id="username" name="username" value="{{user.username}}">
                </div>

                <button type="submit" class="btn btn-warning mt-4">Registrar</button>
            </form>
        </div>


    </div>