<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Editar {{users.username}}</h1>
            <form action="/usuarios/editar/{{_id}}" method="POST">

                <select class="form-select" aria-label="Default select example" name="type">
                    <option selected>Select One</option>
                    <option value="Jedi" name="Jedi">Jedi</option>
                    <option value="Sith" name="Sith">Sith</option>
                </select>

                <button type="submit" class="btn btn-dark mt-4">Registrar</button>
            </form>
        </div>


    </div>