{{#if isSith}}
<img src="/images/Sith.png" alt="sithUser" id="sithUser">
<div class="container" id="team">
    <h1>Sith Team</h1>
</div>
{{else}}
<img src="/images/Jedi.jpg" alt="jediUser" id="jediUser">
<div class="container" id="team">
    <h1>Jedi Team</h1>
</div>
{{/if}}
<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1 id="listcharacter">Nosotr@s</h1>
            <hr>
            <ul id="user-list-ul">
                {{#each users}}
                <li class="py-2"><a id="user-list-li" href="/usuarios/lista-usuarios/{{_id}}"
                        role="button">{{username}}</a></li>
                {{/each}}
            </ul>

            <hr>

            <a href="/" class="btn btn-warning" id="btn-prueba">Volver a incio</a>
        </div>
    </div>

</div>