<div class="container">
    <h1>Nosotr@s</h1>
    <hr>
    <img src="./../../public/images/Esstrella_de_la_muerte.jpg" alt="estrella">

    {{#each users}}
        <p>
            <a href="/users/list/{{_id}}">{{username}}</a>
        </p>
    {{/each}}

    <hr>

    <a href="/" class="btn btn-dark">Volver a incio</a>
</div>