<div class="container">
    <h1 id="listcharacter">Nosotr@s</h1>
    <hr>
    <img src="/images/Esstrella_de_la_muerte.jpg" id="estrella" alt="estrella">

    {{#each users}}

    <a href="/user/list-user/{{_id}}">{{username}}</a>

    {{/each}}

    <hr>

    <a href="/" class="btn btn-warning">Volver a incio</a>
</div>