{{#if isSith}}
    <img src="/images/Sith.png" alt="sithUser" id="sithUser">
{{else }}
    <img src="/images/Jedi.jpg" alt="jediUser" id="jediUser">
{{/if}}
<div class="container">
    <h1>Nosotr@s</h1>
    <hr>
    <p>{{isSith}}</p>

    {{#each users}}

        <a href="/usuarios/lista-usuarios/{{_id}}">{{username}}</a>

    {{/each}}


    <hr>

    <a href="/" class="btn btn-warning">Volver a incio</a>
</div>