{{#if isSith}}
<img src="/images/Sith.png" alt="sithUser" id="sithUser">
{{else}}
<img src="/images/Jedi.jpg" alt="jediUser" id="jediUser">
{{/if}}
<div class="container">
    <h1 id="listcharacter">Nosotr@s</h1>
    <hr>

    {{#each users}}

    <ul>
        <li><a class="btn btn-warning" href="/usuarios/lista-usuarios/{{_id}}" role="button">{{username}}</a></li>
    </ul>
    {{/each}}

    <hr>

    <a href="/" class="btn btn-warning">Volver a incio</a>
</div>